<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="navbar" id="topnav">
        <a href="/">Home</a>
        <a href="/Courses">Courses</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/blog">Blog</a>
        <a href="/services">Services</a>
        <a href="/Works">Works</a>
        <a href="/Emplogin">Employee Login</a>
        <a href="/EmpRegister">Employee Register</a>
    </div>
</body>

</html>